body{
  background: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
  padding-bottom: 70px;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: #DD5555;
  font-size: 22px;
}

h2{
  font-size: 19px;
  font-weight: 300;
  padding-bottom: 15px;
}

h3{
  font-size: 16px;
  font-weight: 300;
}

p{
  text-align: center;
  padding-bottom: 10px;
}

a{
  color: #ccc;
  text-decoration: none;
  font-size: 20px;
}

a:hover{
  color: #DD5555;
  text-decoration: none;
}

#container{
  width: 1200px;
  margin: 30px auto;
}

.card{
  background: white;
  text-align: center;
  padding: 21px;
  margin-bottom: 21px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.img-circle{
  border-radius: 50%;
}

.text-center{
  text-align: center;
  text-decoration: none;
  list-style: none;
  padding-bottom: 5px 
}

#img-profile{
  width: 100px;
  height: 100px;
  border: 3px solid #cccccc;
}

#movies{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

#movies img{
  width: 80px;
}
#movies td{
  padding: 10px;
}

.list-inline {
  padding-left: 0;
}

.list-inline li {
  display: inline-block;
  width: 90px;
}

.list-inline li i{
  font-size: 25px;
}

.btn-danger{
  background-color: #DD5555;
  color: white;
  font-weight: 200;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.btn-danger:hover{
  background-color: #C61414;
  color: white;
}

.bot-fa{
	padding-bottom: 5px;
}

.skills{
	padding-bottom: 10px;
}

#img-exp{
	width: 60px;
  	height: 60px;
	border: none;
	margin-bottom: 10px;
}

#past{
	text-align: center;
	padding : none;
	margin: none;
}
#role{
	font-family: 'Montserrat', sans-serif;
	color: #DD5555;
	font-size: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

#img-expe{
	width: 90px;
  height: 60px;
	border: none;
	margin-bottom: 10px;
	padding-bottom: 15px;
	padding-top: 15px;
}

#btn-center{
  text-align: center;
  font-size: 19px;
}

#footer{
  text-align: center;
  padding-top: 13px;
  padding-bottom: 5px;
  font-size: 13px;
  list-style: none;
  color: #7d7d7d;
  display: inline-block;
}

.list-footer{
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}

#pfooter{
  text-align: right;
  font-size: 10px;
  color: #DD5555;
  padding-top: 0px;
  margin-top: 0px;
}

.fa-warning{
  color: #DD5555;
  padding-top: 15px;
  font-size: 25px
}
